
#heroImg{
    background: url(slike/hero.jpg) no-repeat center;
    background-size: cover;
    height: 220px;
}

#heroImg .container{
    color: white;
   padding-top: 4%;
   font-family: Verdana, Arial, sans-serif;
   font-weight: bold;
   font-size: 30px;
}

#heroImg .container .info{
    font-size: 20px;
}

.navbar{
    background-color: rgb(105, 211, 105);
}

.nav-link{
    color: darkgreen !important;
    font-weight: bold;
}
.nav-item:hover{
    background-color: lightgray;
}

footer{
    margin-top: 30px;
    background: rgb(105, 211, 105);
    padding: 10px 0 40px 0;
  }
  footer a{
    color: darkgreen;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
    margin-right: 30px;
    text-align: center;
  }
 
  footer a:hover{
      background-color: white;
      opacity: 0.7;
  }

  footer p{
      margin-left: 30px;
      color: darkgreen;
  }