
#heroImg{
    background: url(slike/hero.jpg) no-repeat center;
    background-size: cover;
    height: 220px;
}

#heroImg .container{
    color: white;
   padding-top: 4%;
   font-family: Verdana, Arial, sans-serif;
   font-weight: bold;
   font-size: 30px;
}

#heroImg .container .info{
    font-size: 20px;
}

.nav-link{
    font-weight: bold;
    color: white !important;
}

.nav-item:hover{
    background-color: lightgray;
    transition: all 0.5s;
}

footer{
    padding-top: 20px;
}

footer a{
  font-size: 20px;
  padding: 10px;
}
 
footer a:hover{
    background-color: lightgray;
    opacity: 0.5;
}